<div class="container">
  <mat-card class="mat-elevation-z0 wrapper">
    <br />
    <mat-card-title>Department Contacts</mat-card-title>
    <br />
    <mat-card-content>
      <mat-card class="mat-elevation-z0 card-wrapper">
        <mat-card class="mat-elevation-z24 cards">
          <mat-card-title>Front Desk</mat-card-title>
          <mat-card-content>
            <ul>
              <li>Phone: 123-456-7890</li>
              <li>Email: FrontDesk@BCRS.com</li>
              <li>Hours: Mon-Fri 8AM-4PM</li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z24 cards">
          <mat-card-title>Human Resources</mat-card-title>
          <mat-card-content>
            <ul>
              <li>Phone: 123-456-7890</li>
              <li>Email: HR@BCRS.com</li>
              <li>Hours: Mon-Sat 9AM-3PM</li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z24 cards">
          <mat-card-title>IT</mat-card-title>
          <mat-card-content>
            <ul>
              <li>Phone: 123-456-7890</li>
              <li>Email: IT@BCRS.com</li>
              <li>Hours: Mon-Fri 9AM-5PM</li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z24 cards">
          <mat-card-title>On Call</mat-card-title>
          <mat-card-content>
            <ul>
              <li>Phone: 123-456-7890</li>
              <li>Email: afterhours@BCRS.com</li>
              <li>Hours: Mon-Sat 4PM-8AM</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-card>
      <br />
      <br />
    </mat-card-content>
  </mat-card>
</div>
