<!--/**
 * Title:  Bob's Computer Repair Shop
 * Authors: Danial Purselley, William Watlington, Kayla McDanel
 * Date: 18 Feb 2023
 * Description: A web application for a computer repair shop
 */-->

<div fxLayout="column" class="not-found">

    <!--Page header-->
    <div fxFlex>
      <h1 class="title">
        <strong>404<br/>You can keep looking,</strong> <br />
        <span class="subtitle">
          But you won't find it here!
        </span>
      </h1>


<br /> <br />

    <div class="figure-found">
      <img src="../../../assets/binos.jpg" height="100"><br/>
    </div>

    <button mat-raised-button routerLink="/">Try this way!</button>
</div>
</div>