<div fxLayout="column">
    <mat-card class="mat-elevation-z0">
        <mat-card-title style="text-align: center; font-weight: lighter;">
        Create User Form</mat-card-title>
        <mat-card-subtitle style="text-align: center; font-weight: lighter;">
        Fields with an asterisk (*) are required.
    </mat-card-subtitle>
    <br />

    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

    <!--Create user form begins-->
    <form [formGroup]="form" (ngSubmit)="createUser()" (keydown.enter)="$event.preventDefault()" style="width: 50%; margin: 0 auto;">
        <mat-card-content>

            <!--Username input & error message-->
            <div fxLayout="column" fxLayoutGap="10px">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="userName" required />

                    <mat-error class="error" *ngIf="form.controls['userName'].hasError('required') && form.controls['userName'].touched">
                        Username is required.
                    </mat-error>
                </mat-form-field>

            <!--User password input & error message-->
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" required />

                <mat-error class="error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                    Password is required.
                </mat-error>

                <mat-error class="error" *ngIf="form.controls['password'].hasError('pattern') && form.controls['password'].touched">
                    Password must be 8 characters and contain one letter and one number.
                </mat-error>
            </mat-form-field>

                        <!--User first name input & error message-->
                        <div fxLayout="column" fxLayoutGap="10px">
                            <mat-form-field appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input type="text" matInput formControlName="firstName" required />
            
                                <mat-error class="error" *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched">
                                    First name is required.
                                </mat-error>
                            </mat-form-field>
            
                        <!--User last name input & error message-->
                        <mat-form-field appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="lastName" required />
            
                            <mat-error class="error" *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched">
                                Last name is required.
                            </mat-error>
                        </mat-form-field>
            
                        <!--User phone number input & error message-->
                        <mat-form-field appearance="fill">
                            <mat-label>Phone number</mat-label>
                            <input type="text" matInput formControlName="phoneNumber" required />
            
                            <mat-error class="error" *ngIf="form.controls['phoneNumber'].hasError('required') && form.controls['phoneNumber'].touched">
                                Phone number is required.
                            </mat-error>
                        </mat-form-field>
            
                        <!--User email input & error message-->
                        <mat-form-field appearance="fill">
                            <mat-label>Email address</mat-label>
                            <input type="text" matInput formControlName="email" required />
            
                            <mat-error class="error" *ngIf="form.controls['phoneNumber'].hasError('required') && form.controls['email'].touched">
                                Email is required.
                            </mat-error>
            
                            <mat-error class="error" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">
                                Invalid email format.
                            </mat-error>
                        </mat-form-field>
            
                        <!--User address input & error message-->
                        <mat-form-field appearance="fill">
                            <textarea matInput required formControlName="address"
                            placeholder="123 First Street City, State Zip">
                        </textarea>
            
                        <mat-error class="error" *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched">
                            Address is required.
                        </mat-error>
                        </mat-form-field>
                        </div>
            

        <br />
        <!--Buttons to cancel or submit-->
        <mat-card-actions align="end">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button [disabled]="!form.valid">Submit</button>
        </mat-card-actions>
</div>