<!--/**
 * Title:  Bob's Computer Repair Shop
 * Authors: Danial Purselley, William Watlington, Kayla McDanel
 * Date: 18 Feb 2023
 * Description: A web application for a computer repair shop
 */-->

 <mat-toolbar color="primary" style="border-bottom: 15px solid #f0c75e;">
    <mat-toolbar-row>
        <div class="layout-header-container">
            <p id="large-text">
                Bob's Computer Repair Shop
            </p>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

    <br /><br /><br />

<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">

    <br /><br />

    <!--form to reset password-->
    <mat-card class="card-container mat-elevation-z4">

        <mat-card-title>
            <h1 class="title">
                Forgot Password<br />
                <span class="subtitle">
                    Fields marked with an asterisk (*) are required.
                </span>
            </h1>
        </mat-card-title>

        <br /><br /><br />

        <form [formGroup]="form" (ngSubmit)="updatePassword()" #resetPasswordForm>
            <mat-card-content fxLayout="column">
        
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Reset Password</mat-label>
                    <input matInput required type="password" formControlName="password" />

                    <mat-error class="error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                        Password is required.
                    </mat-error>
                </mat-form-field>

                <br /><br />

                <div fxFlex fxLayoutAlign="end" class="p5">
                    <button mat-raised-button routerLink="/session/login">Cancel</button> &nbsp;&nbsp;
                    <button mat-raised-button [disabled]="!form.valid">Update Password</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
    </div>
    </div>

