<div class="about-container">
    <h2>About Us</h2>
    <p>Bob's Computer Repair Shop is a family-owned and operated business that has been serving 
        the local community for over 10 years. Our goal is to provide affordable, high-quality computer 
        repair services to homes and small businesses in the area.
        <br><br>
        <figure>
            <img id="about-image" src="../../../assets/unsplash.jpg" alt="computer repair">
            <figcaption id="about-image-caption">Image: Unsplash</figcaption>
        </figure>
        <br><br>
        At Bob's Computer Repair Shop, we offer a wide range of services including virus removal, data 
        recovery, hardware upgrades, software installations, and much more. Our team of experts can 
        diagnose and repair almost any issue, big or small. We use only the highest-quality parts and 
        materials, and we stand behind our work with a comprehensive warranty.
        <br><br>
        We believe in providing a personal touch to our services. We take the time to understand our 
        clients' needs and provide customized solutions that meet their specific requirements. Our team 
        of experts is available to answer any questions and provide support both during and after the 
        repair process.
    </p> 
</div>
