<header>
  <img id="header-logo" src="../../../assets/bobs.png" routerLink="/" />
  <nav>
    <a class="nav-link" routerLink="about">About</a>
    <a class="nav-link" routerLink="services">Create Invoice</a>
    <a class="nav-link" routerLink="contact">Contact</a>
    <div id="admin-link">
      <span class="material-symbols-outlined">manage_accounts</span>
      <ul id="admin-nav">
        <li><a href="./#/roles">User Roles</a></li>
        <br>
        <li><a href="./#/sq">Security Questions</a></li>
        <br />
        <li><a href="./#/users">Users</a></li>
        <br />
        <li><a href="./#/graph">Purchases By Service</a></li>
        <br />
        <li>
          <div fxFlex></div>
          <button (click)="logout()" mat-button class="navbar-link">Log Out</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>&copy; Bob's Computer Repair Shop</footer>
