<div class="container">
    <h1>Security Question Configuration</h1>
    <h3>Current Questions</h3>
    <ul>
        <li class="list-item" *ngFor="let item of questions">
            <div class="question">
                {{item.text}}
                <button type="button" class="material-symbols-outlined">edit</button>
                <button type="button" class="material-symbols-outlined" (click)="showDeleteModal(item)">delete</button>
            </div>
        </li>
    </ul>
</div>

<div id="modal-bg">
    <div id="modal" class="glow-border">
        <div id="delete-modal-content">
            <h3>Confirm Deletion</h3>
            <p>delete security question: "{{currentQuestion.text}}"?</p>
            <div class="modal-button-container">
                <button type="button" class="modal-button" (click)="deleteQuestion(currentQuestion._id)">Delete</button>
                <button type="button" class="modal-button" (click)="closeDeleteModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>