/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #292828;
    color: #fff;
}

header {
    background-color: #000;
    color: #F0C75E;
    position: relative;
}

footer {
    background-color: #fff;
    color: #292929;
}